{% extends 'base.html.twig' %}

{% block title %}Toutes les missions
{% endblock %}

{% block body %}

<div class="container mt-4">
	<h1>Voir toutes les missions</h1>
	<div class="row">
		{% for mission in missions %}
	 <div class="col-md-4">
		{% include "mission/_mission.html.twig" %}
	 </div>
	{% endfor %}
	</div>
</div>

</div>{% endblock %}
