{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">
    <h1>Créer une nouvelle mission</h1>
    <div>{{ include('admin/mission/_form.html.twig', {button: 'Créer'}) }}</div>
</div>
{% endblock %}